
/* Headings */

h2 {
	text-align:center;
}


/* Main Countries' elements alignment */

.flag-descrip {
  display: inline-block; 
  max-width: 100%;
  margin-top:5%;
  margin-bottom:5%;
  padding-bottom:10%;
  border-bottom:5px dashed #4a4a4a;
}

.flag-descrip img {
  float: left;
  max-width:25vw;
  margin-left:13%;
}

.flag-descrip p {
  float: right;
  width: 40%;
  margin-right:2%;
}

.map-stats {
	display:inline-block;
	max-width: 100%;
	margin-top:5%;
    margin-bottom:5%;
}

.countrymap {
	width:45%;
	
}

.map-stats .map{
  float: left;
  width:50%;
}

.map-image {
	margin-left:35%;
}
.map-image img{
  width:75%;
}
.map-stats table {
  float: right;
  width: 45%;
  line-height:250%;
  margin-right:1%;
  margin-top:6%;
}

/* Table */

th {
	text-align: left;
}


/* Media Queries*/
@media(max-width:1000px){

    #header-img {
        height: 200px;
    }
    
}

@media(max-width: 550px){

    #header-img {
        height: 300px;
    }
    
}

