html,body {
    font-family: 'Lato', sans-serif;
    font-size: 1.1vw;  /* flexible baseline */
    background-color:#a6a6a6;
    color: #000;
	
}

.main-content{
	padding-left:13%;
	padding-right:13%;
	width:75%;
	margin-top:5%;
}


/* Sections' Headers */

.container-c img {
	width:100%;
	height:80vh;
	border-radius:4%;
	border: 2px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom:7%;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.7);
	padding:1%;
	border-radius:6%;
}

/* Navigation */

nav {
    position: fixed;
    top:0%;
    width:100vw;
    margin-top:0;
	margin-left:-2vw;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;	
	border-radius:5%;
}
nav ul { 
	margin: 0; 
	padding: 20px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
} 
 
nav ul li {  
	display: inline;
	margin-left:3.5rem;
} 
 
nav ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
} 
 
nav ul li a:hover { 
	color: #000; 
	background-color: #fff; 
} 

nav img {
	width:3%;
	display:inline;
	margin: -16px;
}

#no-hover:hover {
    background-color: black;
    
}

#navlogo:hover {
	color: #000; 
	background-color: #000; 
}

.country {
	color:green;
}


/* General elements */

h2 {
	text-align:center;
}

.right-left p, .left-right p, .nopic {
	font-family: 'Montserrat', sans-serif;
}

/* Links - General */

a { 
	text-decoration:none;
	color: white;
}

a:hover { text-decoration: underline; }

a:focus { 
	color:red;
	text-decoration: underline;
}


/* Footer */

footer a {
	text-decoration:underline;
}


footer {
	text-align: center;
	clear: both;
	background: #4a4a4a;
	color: white;
	padding: 5px 10px;
	size: 80%;
	border-radius:1%;
}


/* Sections' Images and paragraphs alignment */

.left-right, .right-left, .nopic {
  display: inline-block; 
  max-width: 100%;
  margin-top:5%;
  margin-bottom:5%;
  padding-bottom:10%;
  border-bottom:5px dashed #4a4a4a;
  display: flex;
  align-items: center;
}

.left-right img {
  float: left;
  max-width:28vw;
  margin-left:13%;
}

.left-right p {
  float: right;
  width: 60%;
  margin-left:7%;
}

 
.right-left img {
  float: right;
  max-width: 28vw;
  margin-left:9%;
}

.right-left p {
  float: left;
  width:60%;
  margin-left:8%;
}


.left-right img {
	border-radius:4%;
	border: 2px solid #4a4a4a;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-left img {
	border-radius:4%;
	border: 2px solid #4a4a4a;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	
/* Media Queries*/
@media(max-width:1000px){
    
    .container-c img {
        height: 20%;
        width: 100%;
    } 

}

